$border-color: $silver;
$border-radius: 3px;

.rounded        { border-radius: $border-radius $border-radius $border-radius $border-radius; }

.rounded-top    { border-radius: $border-radius $border-radius 0 0; }

.rounded-right  { border-radius: 0 $border-radius $border-radius 0; }

.rounded-bottom { border-radius: 0 0 $border-radius $border-radius; }

.rounded-left   { border-radius: $border-radius 0 0 $border-radius; }

.not-rounded{
  border-radius: 0;
}

.circle{
  border-radius: 100% 100% 100% 100%;
  overflow: hidden;
}

.border{
  border-top:    1px solid $border-color;
  border-left:   1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-right:  1px solid $border-color;
}

.border-top-none{
  border-top: 0;
}

.border-bottom-none{
  border-bottom: 0;
}

.border-top{
  border-top: 1px solid $border-color;
}

.border-left{
  border-left: 1px solid $border-color;
}

.border-bottom{
  border-bottom: 1px solid $border-color;
}

.border-right{
  border-right: 1px solid $border-color;
}
