.centerer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerer-x{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centerer-y{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
